body{
    margin: 0%;
    font-family: sans-serif;
}
header{
    position: relative;
    background-color: rgb(193, 190, 185);
    display: flex;
    justify-content: space-between;
    padding: 0% 10% 0 2%;
}
.header-right{
    text-align: center;
    padding-top: 3.5%;
}
.header-right a{
    margin-left: 3rem;
    padding-top: 20px;
    text-decoration: none;
    color: black;
    
}