/* LoginPage.css */
.oh{
  background-color: rgb(173, 207, 236);
}
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center; /* Center the content horizontally */
}

.error {
  color: red;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  display: block;
  margin: 10 auto;
  
}

button:hover {
  background-color: #0056b3;
  color: cyan;
}

button:active {
  background-color: #1475de;
  transform: translateY(2px);
}
