/* LoginPage.css */

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.error {
  color: red;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-input {
  position: relative;
}

.password-input input {
  width: calc(100% - 30px); /* Adjust width to accommodate icon */
  padding-right: 30px; /* Ensure space for the icon */
}

.password-input .eye-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}

.password-input .eye-icon:hover {
  color: #007bff; /* Change color on hover */
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #1475de;
  transform: translateY(2px);
}
